* {
	margin: 0;
	font-family: sans-serif;
}

.container {
	width: 100%;
	height: 95vh;
	position: relative;
}

.slider {
	width: 100%;
	height: 100%;
	display: flex;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.slider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#previous,
#next {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;

	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	top: calc(50% - 25px);
	left: 30px;
	cursor: pointer;
}

#next {
	left: unset;
	right: 30px;
}

.dots-container {
	display: flex;
	justify-content: center;
	margin: 20px auto;
}

.dots-container .dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgb(213, 213, 213);
	margin: 0 10px;
}

.dots-container .active {
	background: gray;
}
